<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

    <div>
        <p>published 21.05.2020, 15;01</p>
        <h2><a href="">My first post</a></h2>
        <p>Første prosjekt. Fungerer bra sålangt. Litt problemer med VM og annet tull. Men heldigvis
            har man vært lur å huske snapshots..!</p>
        </div>

    <div>
        <p> published: 21.02.2020, 15;05</p>
        <h2><a href="">My second post here.</a></h2>
        <p>Så dette er post to. Dette fungerer forhåpentligvis.</p>
        </div>
        <div>

    </body>
</html>